.company .header {
  text-transform: uppercase;
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 3.75rem;
}

.case_study_footer .bottom_footer {
  margin-top: 70px;
}

.casestudy .card_wrapper {
  position: relative;
  height: 600px;
}
.card_block {
  position: absolute;
  top: 0;
}

.card_wrapper .phone_wrapper {
  height: 600px;
  display: flex;
}

.card_image {
  height: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.center_card_image {
  height: 600px;
  opacity: 1;
}

.adjacent-img{
  opacity: 0.5;
}
.card_block .yellow-wrapper {
  width: 600px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
/* Stat  */
.stats {
  color: white;
  display: flex;
  align-items: center;
}

.each_stat {
  width: 220px;
}

.each_stat .percentage {
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 2rem;
}
.whole_description_block_wrapper {
  margin-top: 70px;
}
.stat_description {
  margin-top: 10px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 590;
  text-align: left;
}

.each_main_description_block {
  margin-top: 50px;
}

.section_title {
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 2rem;
}

.section_description {
  text-align: justify;
  line-height: 25px;
  margin-top: 15x;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.para {
  margin-top: 20px;
}

.case_study_footer {
  position: relative;
  height: 510px;
}

.navbar-wrapper {
  position: absolute;
  top: 15px;
}

.footer-img-wrapper {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
}
.case_study_footer .footer_img {
  width: 100%;
  height: 510px;
  object-fit: cover;
}

.footer_wrapper {
  position: absolute;
  top: 15px;
}

.bottom_footer_wrapper {
  position: absolute;
  top: 115px;
}

#case_footer_tagline {
  color: #fff;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  bottom: 0;
}

.phone-wrapper {
  position: absolute;
  top: 0;
}

.phone_wrapper {
  justify-content: space-evenly;
}

.five9-stats-width {
  width: 500px;
}
.five9-header-img {
  margin-top: -25px;
}
