@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Intro Rust";
  src: url("fonts/intro-rust/IntroRust-Base.woff2") format("woff2"),
    url("fonts/intro-rust/IntroRust-Base.woff") format("woff"),
    url("fonts/intro-rust/IntroRust-Base.otf") format("opentype");
}

@font-face {
  font-family: "Knockout Cruiserweight";
  src: url("fonts/Knockout HTF52-Cruiserweight Regular/Knockout HTF52-Cruiserweight Regular.otf")
    format("opentype");
}

:root {
  /* color */
  --background-color: #0c0d16;
  --bluish-color: #11f8c8;

  /* font size */
  --section-header: 54.9px;
  --summary-text: 25.3px;
  --descriptive-text: 16.1px;
  --lets-talk: 13.6px;
  --footer-heading: 30.2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}

.header_img {
  margin-top: -35px;
  background-position: center;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.navbar {
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  height: 110px;
  width: 280px;
  object-fit: cover;
}

.material-symbols-outlined.menu {
  color: white;
  font-size: 60px;
}

.hero {
  width: calc(100vw-80px);
}

.tagline {
  position: absolute;
  top: 280px;
  left: 70px;
  width: 800px;
}

.tagline_quote {
  color: white;
  font-size: 57px;
  text-transform: uppercase;
  font-family: "Intro Rust", sans-serif;
  line-height: 55px;
}

.second_tagline {
  color: white;
  font-size: 25px;
  margin-top: 5px;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: "Knockout Cruiserweight", sans-serif;
}

.hanging_image_section {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
}

.hanging_img {
  height: 950px;
}

/* Our Work  */
.our_work_title {
  margin-left: 70px;
  width: 200px;
  user-select: none;
}

.span1,
.span2 {
  padding: 0;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-family: "Intro Rust", sans-serif;
}

.span2 {
  line-height: 5px;
  color: var(--bluish-color);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 490px;
  width: calc(100vw-90px);
  margin-top: 70px;
}

.carousel-image {
  width: 300px;
  object-fit: cover;
}

.carousel_left {
  height: fit-content;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.carousel_main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel_left > .carousel-image:nth-child(1) {
  height: 370px;
  opacity: 20%;
}

.carousel_left > .carousel-image:nth-child(2) {
  height: 475px;
  opacity: 50%;
}

.carousel_main > .carousel-image:nth-child(1) {
  position: absolute;
  height: 650px;
  z-index: 1111;
}

.carousel_main > .carousel-image:nth-child(2) {
  aspect-ratio: 1/1;
  width: 600px;
  z-index: 111;
}

.last-carousel {
  height: 350px;
  opacity: 50%;
}

/* Clients */
.clients {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title_row {
  user-select: none;
  font-family: "Intro Rust", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--bluish-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1362px;
  margin-top: 160px;
  margin-left: 70px;
  margin-right: 110px;
}

.line {
  width: 950px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--bluish-color);
}

.clientlist {
  width: 1362px;
  margin-top: 40px;
  margin-left: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
  column-gap: 130px;
}

/* Partners */
.partners {
  width: 1362px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 160px;
}
.partners {
  height: 290px;
}

.client_logo,
.partners_logo {
  height: 100px;
}
/* Let's Talk  */
.lets_talk {
  display: block;
  position: relative;
  /* margin-top: -220px; */
  user-select: none;
}
.footer_img {
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.footer_title {
  display: flex;
  justify-content: space-between;
  z-index: 11111;
  position: absolute;
  top: 0;
}

.footer_top {
  position: absolute;
  top: 375px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  z-index: 11111;
}

.lets_talk_img {
  margin-left: -175px;
  height: 500px;
  z-index: 11111;
}

form {
  position: relative;
  width: 600px;
  height: 300px;
  margin-right: 82px;
  margin-top: 100px;
}

.each_from_section > label {
  color: white;
  font-family: "Knockout Cruiserweight", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
}

.form_icon {
  height: 15px;
}
.each_from_section {
  margin-top: 8px;
}

.input_wrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 30px;
}

.input_field {
  background: none;
  border: none;
  outline: none;
}

#scope_wrapper {
  position: relative;
  height: 80px;
}

#scope_icon {
  position: absolute;
  top: 10px;
}

#submit_btn {
  font-family: "Knockout Cruiserweight", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: var(--bluish-color);
  position: absolute;
  right: 0px;
  bottom: 0;
}
