@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@font-face {
  font-family: "Intro Rust";
  src: url("fonts/intro-rust/IntroRust-Base.woff2") format("woff2"),
    url("fonts/intro-rust/IntroRust-Base.woff") format("woff"),
    url("fonts/intro-rust/IntroRust-Base.otf") format("opentype");
}

@font-face {
  font-family: "Knockout Cruiserweight";
  src: url("fonts/Knockout HTF52-Cruiserweight Regular/Knockout HTF52-Cruiserweight Regular.otf")
    format("opentype");
}

:root {
  /* color */
  --background-color: #0c0d16;
  --bluish-color: #11f8c8;

  /* font  */
  --primary-font: "Intro Rust";
  --secondary-font: "Knockout Cruiserweight";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header_img {
  margin-top: -35px;
  background-position: center;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.navbar {
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  height: 110px;
  width: 280px;
  object-fit: cover;
}

.material-symbols-outlined.menu {
  color: white;
  font-size: 60px;
}

.hero {
  width: calc(100vw-80px);
}

.tagline {
  position: absolute;
  top: 280px;
  left: 70px;
  width: 800px;
}

.tagline_quote {
  color: white;
  font-size: 57px;
  text-transform: uppercase;
  font-family: var(--primary-font), sans-serif;
  line-height: 55px;
}

.second_tagline {
  color: white;
  font-size: 25px;
  margin-top: 5px;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: var(--secondary-font), sans-serif;
}

.hanging_image_section {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
}

.hanging_img {
  height: 950px;
}

/* Our Work  */
.our_work {
  margin-top: 160px;
}

.our_work_title {
  margin-left: 70px;
  width: 200px;
  user-select: none;
}

.span1,
.span2 {
  padding: 0;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-family: var(--primary-font), sans-serif;
}

.span2 {
  line-height: 5px;
  color: var(--bluish-color);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 490px;
  width: calc(100vw-90px);
  margin-top: 70px;
}

.carousel-image {
  width: 300px;
  object-fit: cover;
}

.carousel_left {
  height: fit-content;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.carousel_main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel_left > .carousel-image:nth-child(1) {
  height: 370px;
  opacity: 20%;
}

.carousel_left > .carousel-image:nth-child(2) {
  height: 475px;
  opacity: 50%;
}

.carousel_main > .carousel-image:nth-child(1) {
  position: absolute;
  height: 650px;
  z-index: 1111;
}

.carousel_main > .carousel-image:nth-child(2) {
  aspect-ratio: 1/1;
  width: 600px;
  z-index: 111;
}

.last-carousel {
  height: 350px;
  opacity: 50%;
}

/* Clients */
.clients {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title_row {
  user-select: none;
  font-family: var(--primary-font), sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: var(--bluish-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1362px;
  margin-left: 70px;
  margin-right: 110px;
}

.line {
  width: 950px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--bluish-color);
}

.clientlist {
  width: 1362px;
  margin-top: 40px;
  margin-left: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
  column-gap: 130px;
}

.clients,
.services,
.partnerships {
  margin-top: 160px;
}

/* Services  */
.services_block {
  /* border: 2px red solid; */
  width: 1362px;
  margin-top: 200px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 120px;
  color: white;
}

.each_service {
  border: 5px white solid;
  height: 500px;
  border-radius: 15px;
  position: relative;
}
.service_icon {
  position: absolute;
  left: -30px;
  top: -240px;
  height: 450px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.service_body .service_description {
  text-align: justify;
}

.service_body {
  position: absolute;
  top: 180px;
  padding-left: 20px;
  padding-right: 20px;
}

.service_body .service_title {
  font-family: var(--primary-font), sans-serif;
  font-size: 2em;
  color: white;
}

.service_body .service_description {
  font-family: "inter", sans-serif;
}

/* Partners */

.partners {
  width: 1362px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 160px;
}
.partners {
  height: 290px;
}

.client_logo,
.partners_logo {
  height: 100px;
}
/* Let's Talk  */
.lets_talk {
  display: block;
  position: relative;
  user-select: none;
}
.footer_img {
  width: 100vw;
  height: 1490px;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.footer_title {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.footer_top {
  position: absolute;
  top: 250px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  z-index: 11111;
}

.lets_talk_img {
  margin-left: -175px;
  height: 500px;
}

form {
  position: relative;
  width: 600px;
  height: 300px;
  margin-right: 82px;
  margin-top: 100px;
}

.each_from_section > label {
  color: white;
  font-family: var(--secondary-font), sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
}

.each_from_section {
  margin-top: 8px;
}

.input_wrapper,
.scope {
  margin-top: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 30px;
}

.input_field {
  color: rgb(255, 255, 255);
  opacity: 100%;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
}

.scope {
  padding: 10px;
  border: none;
  color: rgb(255, 255, 255);
  height: 80px;
  resize: none;
  outline: none;
}

#submit_btn {
  font-family: var(--secondary-font), sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: var(--bluish-color);
  position: absolute;
  right: 0px;
  bottom: 0;
}

.footer {
  position: relative;
  margin-top: 800px;
  height: 300px;
  width: 1362px;
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.footer_divs {
  color: white;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.footer_div_title {
  font-family: var(--primary-font), sans-serif;
  color: var(--bluish-color);
  font-size: 2.5em;
  text-transform: uppercase;
}

.each_contact {
  display: flex;
  height: 70px;
  width: 250px;
  align-items: center;
  margin-bottom: 20px;
}

.footer_icon {
  height: 2.5em;
}

.contact_text,
.footer_text {
  font-family: var(--secondary-font), sans-serif;
  font-weight: lighter;
}

.footer_divs > .footer_text {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  height: 40px;
}

.bottom_footer {
  margin: 90px 32px auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1402px;
  height: 100px;
  position: relative;
}
.bottom_logo {
  position: relative;
  height: 110px;
  width: 270px;
  object-fit: cover;
}

.each_bottom_footer_logo {
  height: 50px;
}

#footer_tagline {
  position: relative;
  color: white;
  font-family: var(--primary-font), sans-serif;
  font-size: 0.8em;
  word-spacing: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 170px;
}
