.body_class {
    background-color: red;
}
.child_div {
    width: 100%;
    word-wrap: break-word;
}

.parent_div{
    padding-left: 5%;
    padding-right: 5%;
}

.child_div2 {
    width: 100%;
    word-wrap: break-word;
}

.parent_div2 {
    padding-left: 0%;
    padding-right: 2%;
}